




<div class="crm-container">
  <div>
    <label>
      {{ts('Begin date')}}
      <input type="text" ng-model="vm.filter.beginDate" placeholder="format yyyy-mm-dd"/>
    </label>
    <label>
      {{ts('End date')}}
      <input type="text" ng-model="vm.filter.endDate" placeholder="format yyyy-mm-dd"/>
    </label>
    <button ng-click="vm.search()">{{ts('Search')}}</button>
  </div>


  <div>
  <table class="selector row-highlight" ng-show="vm.persons.length">
    <tr><th>Name</th><th>Type</th><th>Start Date</th><th>Source</th></tr>
    <tr ng-repeat="p in vm.persons">
      <td ng-bind="p.display_name"></td>
      <td ng-bind="p.relationship_name"></td>
      <td ng-bind="p.start_date"></td>
      <td ng-bind="p.source"></td>
    </tr>
  </table>
  </div>

</div>
